{{#settings}}
	<tr>
		<th>{{description}}</th>
		<td>
			<select id="{{name}}" name="{{name}}">
				{{#options}}
					<option value="{{value}}">{{name}}</option>
				{{/options}}
			</select>
		</td>
	</tr>
{{/settings}}
